{% extends 'company/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Edit User Policy - Super Insurance' %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'company:user_list' %}">{% trans 'User List' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans 'Edit User Policy' %}</li>
{% endblock %}

{% block company_content %}
    <h1 class="mb-4">{% trans 'Edit User Policy' %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
            <a href="javascript:history.back()" class="btn btn-secondary">{% trans 'Back' %}</a>
            <button type="submit" class="btn btn-primary">{% trans 'Save Changes' %}</button>
        </div>
    </form>
{% endblock %}
