<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Super Insurance{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <style>
      body {
        background-color: #f8f9fa;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      .navbar {
        background-color: #003366;
      }
      .navbar-brand,
      .nav-link {
        color: #ffffff !important;
      }
      .footer {
        background-color: #003366;
        color: white;
        padding: 20px 0;
        text-align: center;
        margin-top: auto;
      }
    </style>
    {% block style %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        {% if request.resolver_match.namespace == 'company' %}
            <a class="navbar-brand" href="{% url 'company:home' %}">Super Insurance</a>
        {% elif request.resolver_match.namespace == 'client' %}
            <a class="navbar-brand" href="{% url 'client:home' %}">Super Insurance</a>
        {% else %}
            <a class="navbar-brand" href="{% url 'home' %}">Super Insurance</a>
        {% endif %}
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            {% block nav_items %}
              {% if request.resolver_match.url_name != 'home' %}
                {% if request.resolver_match.namespace == 'company' %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'company:home' %}">Home</a>
                  </li>
                {% elif request.resolver_match.namespace == 'client' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'client:home' %}">Home</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                {% endif %}
              {% endif %}
            {% endblock nav_items %} {% if user.is_authenticated %}
            <li class="nav-item">
              <form action="{% url 'users:logout' %}" method="post" class="d-flex">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Log out</button>
              </form>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:signup' %}">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:login' %}">Log In</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% block content %} {% endblock %}

    <footer class="footer mt-5">
      <div class="container">
        <p>&copy; 2025 Super Insurance. All rights reserved.</p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
